
NewTetris/Library/
NewTetris/Logs/
NewTetris/UserSettings/
NewTetris/obj/
NewTetris/Temp/
NewTetris/.vs/
*.csproj
*.sln
NewTetris/.vsconfig
NewTetris/Assets/Real Stars Skybox/StarSkybox04/CubemapStars.cubemap
NewTetris/Assets/Real Stars Skybox/StarSkybox04Named/CubemapStarsNamed.cubemap
NewTetris/Assets/Real Stars Skybox/StarSkybox04NamedConstell/CubemapStarsNamedConstellations.cubemap
